@import 'modern-normalize.css';

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
/* End of Reset */

@font-face {
    font-family: "Norse";
    src: url("fonts/Norse-Bold.woff2") format("woff2");
}

body {
    display: flex;
    height: 100%;
}

.info {
    height: 100vh;
    width: 30vw;
    min-width: 350px;
    background-color: red;
    flex-shrink: 0;
    background-image: url(images/bgimg.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    height: 100vh;
    width: 70vw;
    min-width: 650px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

/* Styles for content of info container */
.transparent-box {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.transparent-box img {
    height: 150px;
    width: auto;
    
}

.logo-name {
    color: white;
    font-family: "Norse";
    font-size: 110px;
}

.credit {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}

.credit a {
  color: inherit;
}

/* Styles for content of form container */
.memo {
  background-color: blue;
  flex-grow: 1;
}

.form-inputs {
  background-color: yellow;
  height: 300px;
}

.submission {
  background-color: rebeccapurple;
  flex-grow: 1;
}